

<div class="footer">
  <div class="footer-links">
    <a href="mailto:miguel.leo.jimenez@gmail.com?subject=Feedback Snippet Finder"> <i class="far fa-comment"></i> Feedback </a>
    <a href="https://www.linkedin.com/in/miguel-leo-jimenez/" target="_blank"> <i class="fab fa-linkedin"> </i> Contact </a>
  </div>
  <div class="footer-copyright">
     Made with <i class="fas fa-heart"></i> by Miguel Jimenez
  </div>
</div>
