

<div class="footer">
  <div class="footer-links">
    <a href="#"> <i class="fas fa-bug"></i> Report a Bug </a>
    <a href="#"> <i class="fab fa-linkedin"> </i> Contact </a>
  </div>
  <div class="footer-copyright">
     Made with <i class="fas fa-heart"></i> by Miguel Jimenez
  </div>
</div>
