  <div class="card-body">
    <p> Add <i class="keyword-help">strength</i> or <i class="keyword-help">area of development</i> to your search to filter by type</p>

    <p> Add <i class="keyword-help">Presentation</i>, <i class="keyword-help">One on One</i>, <i class="keyword-help">Group Discussion </i> or <i class="keyword-help">Overall</i> to filter by context </p>

    <p> Looking for verbs in past tense gives better results. Almost all snippets follow the SAI/SAIRI structure and form. </p>

    <p> Filter by competency by adding one of the following keywords to your search:  </p>

    <p> <i class=keyword-help> Strategic Agility</i>
        <i class=keyword-help> Managing Change</i>
        <i class=keyword-help> Innovation</i>
        <i class=keyword-help> Achieving Results</i>
        <i class=keyword-help>Inspiring and Influencing</i>
        <i class=keyword-help> Teamwork and Collaboration</i>
        <i class=keyword-help>Communication</i>
        <i class=keyword-help>Decision Making</i>
        <i class=keyword-help>Feedback and Coaching</i></p>
    <p> You can watch a 1min tutorial over <a href="#"> here </a> </p>
  </div>
