  <div class="card-body">
    <p> Filter by snippet type by adding <i> strength </i> or <i> area of development </i> to your search </p>
    <p> Filter by snippet context adding <i>Presentation</i>, <i>One on One</i>, <i>Group Discussion </i> or <i> Overall </i></p>
    <p> (Almost) all snippets follow the SAI/SAIRI structure and form, it's better to search in past tense </p>
    <p> Filter by competency adding one of the following keywords to your search:  </p>
    <p> Strategic Agility, Managing Change, Innovation, Achieving Results, Inspiring and Influencing, Teamwork and Collaboration, Communication,
    Decision Making, Feedback and Coaching.</p>
    <p> You can watch a 1min how-to tutorial over <a href="#"> here </a> </p>
  </div>
