  <div class="card-body">
    <p> Add <i>strength </i> or <i> area of development </i> to your search to filter by type</p>
    <p> Add <i>Presentation</i>, <i>One on One</i>, <i>Group Discussion </i> or <i> Overall </i> to filter by context </p>
    <p> Looking for verbs in past tense gives better results. Almost all snippets follow the SAI/SAIRI structure and form. </p>
    <p> Add one of the following keywords to your search:  </p>
    <p> Strategic Agility, Managing Change, Innovation, Achieving Results, Inspiring and Influencing, Teamwork and Collaboration, Communication,
    Decision Making, Feedback and Coaching.</p>
    <p> You can watch a 1min how-to tutorial over <a href="#"> here </a> </p>
  </div>
