  <div class="card-body">
    <p> Add <mark class="keyword-help">strength</mark> or <mark class="keyword-help">area of development</mark> to your search to filter by type</p>

    <p> Add <mark class="keyword-help">Presentation</mark>, <mark class="keyword-help">One on One</mark>, <mark class="keyword-help">Group Discussion </mark> or <mark class="keyword-help">Overall</mark> to filter by context </p>

    <p> Looking for verbs in past tense gives better results. Almost all snippets follow the SAI/SAIRI structure and form. </p>

    <p> Filter by competency by adding one of the following keywords to your search:  </p>

    <p> <mark class=keyword-help> Strategic Agility</mark>
        <mark class=keyword-help> Managing Change</mark>
        <mark class=keyword-help> Innovation</mark>
        <mark class=keyword-help> Achieving Results</mark>
        <mark class=keyword-help>Inspiring and Influencing</mark>
        <mark class=keyword-help> Teamwork and Collaboration</mark>
        <mark class=keyword-help>Communication</mark>
        <mark class=keyword-help>Decision Making</mark>
        <mark class=keyword-help>Feedback and Coaching</mark>
    </p>
  <p> You can watch a 2 min tutorial over <a href="https://www.useloom.com/share/6b6f1ee7eff747678e72a9694525752b"> here </a> </p>
  </div>
