
<% if @snippet %>

<h2> A Snippet header!! </h2>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat neque alias, perferendis molestiae, sunt ex mollitia delectus sequi explicabo quisquam.</p>

<% end %>
