

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <% if @query && @snippets.count > 0 %>
        <% @snippets.each do |snippet| %>
          <%= render partial: 'card', locals: { snippet: snippet } %>
        <% end %>
      <% elsif @query && @snippets.nil?  %>
        <%= render partial: 'no_results' %>
      <% else %>
        <div class="card text-center">
          <div class="card-body">
            <h5> Welcome to the app </h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


